<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather Report</title>
<link rel="stylesheet" href="/styles/weather.css">
</head>
<body>

<div class="card">

    <% if (content) { %>
        <% if (!content.error) { %>
            <div class="weather-info" id="weatherInfo">
                
                <p>Temprature: <%= content.main.temp %>°C</p> <br>
               <p> Main: <%= content.weather[0].main %></p>  <br>
                <p>Country: <%= content.sys.country %></p> <br>
                <p>City: <%= content.name %></p> <br>
            </div>
        <% } else { %>
            <p class="error"><%= content.message %></p>
        <% } %>
    <% } %>
    

    <form action="/" method="get">
        <div class="input-group">
            <input type="submit" value="Get Back">
        </div>
        
    </form>
</div>

</body>
</html>
